body {
    font-family: "Open Sans";
}

.canvas-container {
    max-width: 90vw;
    border: 2px grey solid;
    display: inline-block;
    position: relative;
    box-sizing: content-box;
}

.topCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvasTextInput {
    position: absolute;
    background-color: transparent;
    border: #0078d7 1px dashed;
    z-index: 5;
    font: 24px "Open Sans";
    margin: 0;
    padding: 2px;
    line-height: 1.375;
}

#fontSizeInput {
    width: 200px;
    display: inline;
}

.canvasDrawerDom {
    max-width: 100%;
}

.canvasContainer {
    border: 2px grey solid;
    display: inline-block;
    position: relative;
    box-sizing: content-box;
}

.canvasContainer .topCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvasTextInput {
    position: absolute;
    background-color: transparent;
    border: #0078d7 1px dashed;
    z-index: 5;
    font: 24px "Open Sans";
    margin: 0;
    padding: 2px;
    line-height: 1.375;
}

.controlsContainer {
    margin-top: 10px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans";
}
.controlsContainer > * {
    height: 24px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font: inherit;
}

.controlsContainer > * > * {
    height: 100%;
    font: inherit;
}
